
#updated 02 14 2025 300pm 

# this will  make it so we are only pushing the theme files

app/
conf/
logs/


#this is to ignore our core files when pushing

/wp-admin/
/wp-includes/
/wp-config.php

#this is to ignore the logs and uploads 

/wp-content/uploads/
/wp-content/cache/
/debug.log
.DS_Store
Thumbs.db
node_modules/
vendor/
.env
